# Use root/example as user/password credentials, run  docker-compose -f .\docker-compose.yml up
version: '3.1'
services:
  db:
    image: mysql:latest
    volumes:
        - "./db:/var/lib/mysql"
        - "./mysql-init.sql:/docker-entrypoint-initdb.d/setup.sql"
    environment:
        MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
    ports:
        - 3306:3306